@model SupportListViewModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = "Customer Support Requests";
    NopHtml.SetActiveMenuItemSystemName("Support requests");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        Support Requests
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <form id="filterForm">
                            <div class="request-list-options-cntr">
                                <div class="request-list-option">
                                    <label for="@Model.SelectedSortOption">Sort</label>
                                    <select id="sortBy" asp-for="SelectedSortOption" asp-items="@SupportListViewModel.SortOptions" name="sortBy"></select>
                                </div>
                                <div class="request-list-option">
                                    <label for="@Model.FilterByStatus">Status</label>
                                    <select id="filterByStatus" asp-for="FilterByStatus" asp-items="@SupportListViewModel.AvailableStatuses" name="filterByStatus"></select>
                                </div>
                                <div class="request-list-option">
                                    <label for="@Model.SearchTerm">Search</label>
                                    <input type="text" id="searchTerm" asp-for="SearchTerm" name="searchTerm" class="form-control" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        <div id="supportRequestsTable">
                            @Html.Partial("_SupportRequestsTable", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#sortBy, #filterByStatus, #searchTerm').on('change keyup', function () {
            var url = '@Url.Action("List")' +
                '?sortBy=' + $('#sortBy').val() +
                '&filterByStatus=' + $('#filterByStatus').val() +
                '&searchTerm=' + $('#searchTerm').val();
            updateTable(url);
        });
    });
</script>